@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.gradient-text {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}